@{
    //@@@@@@@@@@@@@@@@@@@@@@@@@
    // Add _LayoutContainer as the container for the _Layout.cshtml file itself.
    Layout = "../_LayoutContainer/_LayoutContainer.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
@*   @Styles.Render("~/Content/css")*@
@*   @Styles.Render(bundlePath)*@

    @*@@@@@@@@@@@@@@@@@*@
@*   @DynamicBundlesTopRender()*@


 @*    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <p>Main _Layout</p>


    
@Html.Partial("_SharedBox2")


    <hr />
    @RenderBody()

@*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
@*   @Styles.Render("~/Content/css")*@
@*   @Styles.Render(bundlePath)*@



@*   @DynamicBundlesBottomRender()*@
</body>
